* {
  margin: 0;
  padding: 0;
}

.sacramento-regular {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
}

.bg-webColor {
  background-color: #4169e1;
}

.webColor{
  color: #4169e1;
}

.bg-hero{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.embla {
  overflow: hidden;
  max-width: 400px;
}

.embla__container {
  display: flex;
  gap: 1rem; /* Space between slides */
}

.embla__slide {
  flex: 0 0 auto; /* Cards will take their intrinsic width */
}
